* {
    margin: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: small;
}

.google-img {
    width: auto;
    display: flex;
    align-items: center;
}

img {
    width: 70px;
    height: auto;
}

.advanced_title {
    border-bottom: 1px solid black;

    h3 {
        color: rgba(150, 4, 4, 0.805);
        font-size: 20px;
        margin-bottom: 20px;
        margin-left: 35px;
        margin-top: 15px;
        font-weight: normal;
    }
}

.inputone .findPage {
    font-size: 16px;
    min-width: 170px;
    width: 16%;
    font-weight: 500;
    color: black;
}

.inputone {
    display: flex;
    align-items: center;
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;

    .textDes {
        width: 200px;
        font-size: 13px;

    }

    .input-field {
        min-width: 167px;
        width: 50%;

        input {
            border-radius: 1px;
            border: 1px solid rgb(204, 204, 204);
            font-size: 13px;
            height: 25px;
            padding: 1px 8px;
            width: 100%;
        }
    }

    .toDo {
        width: 32%;
        min-width: 16px;
        color: rgb(20, 20, 20);
        font-size: 11px;
        padding-left: 30px;
    }

    .button {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        input {
            background-color: #4d90fe;
            background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
            color: white;
            height: 30px;
            min-width: 120px;
            border: 1px solid #3079ed;
            border-radius: 2px;
            font-size: 11px;
            font-weight: bold;
        }
    }
}

span {
    color: rgb(102, 102, 102);
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}

a {
    text-decoration: none;
    color: black;


}

a:hover {
    text-decoration: underline;
}